body {
  color: white;
  background-image:  url(https://lh5.ggpht.com/XLIKXgODVN-FPH29spgaxwlelTtAdzwWuwYtXU2oKEt8c48cG3BvbHY9Y7VBLDGe6tyW=h900);
  background-repeat: repeat;
}

h1 {
  text-align: right;
  color: orange;
  font-family: impact;
}

h2 {
  color: yellow;
  font-family: fantasy;

}

ol {
  color: yellow;
  font-family: fantasy;
}

.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game {
  color: red;
  text-align: right;
  font-weight: bold;
}

.footer {
  position: relative;;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: navy;
  text-align: center;
  color: yellow;
}

#sidney {
  text-align: center;
  color: orange;
  font-family: impact;
}
