.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: navy;
  text-align: center;
  color: yellow;
}

h1 {
  text-align: center;
  color: orange;
  font-family: impact;
}

body {
  color: white;
  background-image:  url(https://lh5.ggpht.com/XLIKXgODVN-FPH29spgaxwlelTtAdzwWuwYtXU2oKEt8c48cG3BvbHY9Y7VBLDGe6tyW=h900);
  background-repeat: repeat;
}
